<div id="<%= dom_id tweet %>" class="row tweet mb-3">
  <div class="row">
    <img class="profile-picture col" src="https://picsum.photos/120" alt="User Profile Picture">
    <p class="profile-name col">@<%= tweet.user.username %> <small class="tweet-timestamp float-end"><%= time_ago_in_words tweet.created_at %> ago</small></p>
  </div>
  <div class="row">
    <p class="tweet-body"><%= tweet.body %> </p>
  </div>
</div>
