<p style="color: green"><%= notice %></p>


<h1>Tweets by @<%= @user.username %></h1>

<br>

<div class="container mx-auto">
  <div id="tweets">
    <% @tweets.reverse.each do |tweet| %>
      <%= link_to tweet, class: 'tweet-anchor-container' do %>
        <%= render tweet %>
      <% end %>
    <% end %>
  </div>
</div>