<p style="color: green"><%= notice %></p>

<h1>Tweets</h1>

<%= link_to new_tweet_path, class: "btn btn-primary btn-rounded float-end" do %>
  <i class="bi bi-pencil-square"></i>
<% end %>

<br>

<div class="container my-4">
  <div id="tweets">
    <% @tweets.each do |tweet| %>
      <%= link_to tweet, class: 'tweet' do %>
        <%= render tweet %>
      <% end %>
    <% end %>
    <hr>
  </div>
</div>