<p style="color: green"><%= notice %></p>

<h1>Tweets</h1>

<%= link_to "New tweet", new_tweet_path, class: "float-end" %>

<br>


<div id="tweets">
  <% @tweets.each do |tweet| %>
    <a href=""></a><%= render tweet %>
    <p>
      <%= link_to "Source", tweet %>
    </p>
    <hr>
  <% end %>
</div>
