<p style="color: green"><%= notice %></p>

<h1>Tweets</h1>

<%= link_to new_tweet_path, class: "btn btn-primary btn-rounded float-end" do %>
  <i class="bi bi-pencil-square"></i>
<% end %>

<br>


<div id="tweets">
  <% @tweets.each do |tweet| %>
    <%= render tweet %>
    <span>
      <%= link_to "Source", tweet %>
    </span>
    <hr>
  <% end %>
</div>
